@use '../../shared/styles/consts';


.analytics_marks {

    .pie_chart_container {
        text-align: center;
        padding: 0.5rem;
        border-radius: .8rem;
        background-color: consts.$background_color;
        border: 1px solid consts.$secondary_color;

        .title {}

        .pie_chart {
            color: white;


        }
    }
}