@use '../../shared/ui/styles/consts';

.user-info {
    display: flex;
    padding: 1.875rem;
    background: linear-gradient(135deg, consts.$primary-color, consts.$secondary-color);
    position: relative;
    align-items: center;
    color: white;

    @media (max-width: 1024px) {
        padding: 1.5625rem;
    }

    @media (max-width: 768px) {
        padding: 1.25rem;
        flex-direction: column;
        text-align: center;
    }

    &__avatar-wrapper {
        margin-right: 1.875rem;


        @media (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 1.25rem;
        }
    }

    &__user-info-details {
        flex: 1;
    }
}