@use '../../shared/ui/styles/consts';

.main {
    margin-left: consts.$sidebar-collapsed-width;
    padding: 1.25rem 1.875rem;
    flex: 1;
    transition: all consts.$transition-speed ease-in-out;

    min-height: 100vh;
    box-sizing: border-box;
    width: calc(100vw - consts.$sidebar-collapsed-width);

    animation: 0.3s ease-in-out 0s 1 normal none running fadeIn;


    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &--active-sidebar {
        width: calc(100vw - consts.$sidebar-width);
    }

    @media (min-width: 1400px) {
        padding: 1.25rem 2.5rem;
    }

    @media (max-width: 1024px) {
        padding: 0.9375rem 1.25rem;
    }

    @media (max-width: 768px) {
        padding: 0.625rem 0.9375rem;
        margin-left: 0 !important;
        width: 100%;
        box-sizing: border-box;
    }

    @media (max-width: 480px) {
        padding: 0.5rem 0.625rem;
    }

    &--active-sidebar {
        margin-left: consts.$sidebar-width;
    }
}