@use '../shared/ui/styles/consts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: consts.$text-color;
    background-color: consts.$light-bg;
    display: flex;
    overflow-x: hidden;
    line-height: 1.6;
}