@use '../../shared/styles/consts';

.header {
    border-bottom: 1px solid consts.$secondary_color;

    .email {
        color: consts.$secondary_font_color;
        font-size: .9rem;
    }

    .icon_btn {
        font-size: 2rem;
        stroke-width: 2px;
    }
}