.main-map-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.25rem;


    @media (min-width: 1400px) {
        grid-template-columns: 65% 35%;
    }

    @media (max-width: 1024px) {
        grid-template-columns: 55% 45%;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 0.9375rem;
    }
}