@use '../../shared/styles/consts';

.general_page {
    background-color: consts.$primary_color;
    color: consts.$primary_font_color;

    display: grid;
    grid-template-columns: consts.$sidebar_width auto;
}

.general_page.active {
    grid-template-columns: consts.$sidebar_active_width auto;
}