@use '../../../../shared/ui/styles/consts';

.map-favorites-dorms {
    height: calc(100vh - 240px);
    width: 100%;
    background-color: consts.$card-bg;
    border-radius: consts.$border-radius;
    overflow: hidden;
    box-shadow: consts.$shadow;
    border: 1px solid consts.$border-color;
    position: relative;

    .leaflet-container {
        height: 100% !important;
        width: 100% !important;
        z-index: 1;
    }
}