// background, border
$primary_color: #000000;
$secondary_color: #3C3C3C;
$background_color: #232323;
$accent_color: #1900D5;
$accent_hover_color: #1502a3;

// text 
$primary_font_color: #ffffff;
$secondary_font_color: #7C7C7C;

// sidebar
$sidebar_active_width: 250px;
$sidebar_width: 80px;