@use '../../../../shared/ui/styles/consts';

.view-dorm-on-map-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: rgba(67, 97, 238, 0.1);
    color: consts.$primary-color;
    border: none;
    border-radius: consts.$border-radius;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: rgba(67, 97, 238, 0.2);
    }

    @media (max-width: 480px) {
        width: 100%;
        justify-content: center;
    }
}