@use '../../../shared/ui/styles/consts';

.sidebar {
    width: consts.$sidebar-width;
    height: 100vh;
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, consts.$dark-bg, consts.$secondary-color);
    transition: width consts.$transition-speed ease-in-out, transform consts.$transition-speed ease-in-out;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    &--collapsed {
        width: consts.$sidebar-collapsed-width;

        .sidebar__header h2 {
            display: none;
        }

        .sidebar__nav__item span {
            display: none;
        }

        .sidebar__footer__logout-btn span,
        .sidebar__footer__auth-link span {
            display: none;
        }

        .sidebar__footer__logout-btn,
        .sidebar__footer__auth-link {
            justify-content: center;
            padding: 0.75rem 0.3rem;
        }


        .sidebar__footer__auth-link__icon,
        .sidebar__footer__logout-btn__icon {
            margin: 0;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        h2 {
            font-size: 1.5rem;
            font-weight: 600;
            white-space: nowrap;
            letter-spacing: 0.5px;

            display: flex;
            gap: 0.5rem;
        }

        &__logo {
            font-size: 2rem;
        }

    }

    &__nav {
        overflow-y: auto;
        flex: 1 1 0%;
        padding: 1.25rem 0px;

        &__item {
            display: flex;
            align-items: center;
            color: rgba(255, 255, 255, 0.8);
            padding: 0.875rem 1.5rem;
            text-decoration: none;
            transition: 0.2s;
            border-left: 4px solid transparent;
            margin: 0.25rem 0;
            cursor: pointer;

            &--disabled {
                opacity: 0.6;
                cursor: not-allowed;
            }

            &__icon {
                margin-right: 1rem;
                font-size: 1.2rem;
                min-width: 1.5rem;
                text-align: center;
                transition: transform 0.2s;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.08);
                color: white;
            }
        }

        &__item--active {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            border-left: 4px solid consts.$accent-color;
        }

    }

    &__footer {
        padding: 1rem 1.5rem;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        &__auth-link,
        &__logout-btn {
            display: flex;
            align-items: center;
            width: 100%;
            color: white;
            cursor: pointer;
            font-weight: 500;
            margin-bottom: 0.4rem;
            padding: 0.75rem 1rem;
            background: rgba(255, 255, 255, 0.1);
            border-radius: consts.$border-radius;
            transition: background-color 0.2s;
            text-decoration: none;
            border: none;

            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }

            &__icon {
                margin-right: 0.75rem;
            }
        }

    }
}